**/bin
**/obj

**/.vs
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

**/.git
**/.gitignore
**/.gitattributes

**/appsettings.Development.json

Dockerfile
docker-compose.yml
docker-compose.override.yml
.dockerignore

**/node_modules

**/*.log
**/tmp
**/temp